---
import Layout from '../layouts/Layout.astro';

const posts = await Astro.glob('./posts/*.md');
---

<Layout title='Welcome to Astro.'>
  <main>
    <h1>This is an Astro test site</h1>
    {
      posts.map(({ url, frontmatter }) => (
        <a href={url}>
          <p>{frontmatter.title}</p>
        </a>
      ))
    }
  </main>
</Layout>
