---
import Layout from '../layouts/Layout.astro';
---

<Layout title='Welcome to Astro.'>
  <main>
    <h1>This is an Astro test site</h1>
    <a href='/posts/test'>
      <p>Test post</p>
    </a>
    <a href='/posts/henry'>
      <p>Henry V</p>
    </a>
  </main>
</Layout>
